<!--
By : Diego Bryan - https://wa.me/5527999307906
-->
<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Base Rest - API</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/6bee25835f.js" crossorigin="anonymous"></script>
  <link rel="icon" href="img/logo.jpg" type="image/x-icon" />
</head>
	
<body>
  <a class="profilePicture">
    <img src="img/logo.jpg" alt="Profile Picture">
  </a>
    
  <div class="titulo">
    Base Rest - API
  </div>

  <div class="description">
    Rest simples para ser usado de base
  </div>
    
  <div class="links">

    <a class="link" href="api/downloader/play?musica=Capricorniana mc lzyn&apikey=SuaApiKey" target="_blank"> Play </a>

    <a class="link" href="api/downloader/playv?video=Capricorniana mc lzyn&apikey=SuaApiKey" target="_blank"> Play Video </a>
  </div>
  
  <a class="link" href="api/downloader/ytmp3?link=https://youtu.be/7dJlibeaNYc&apikey=SuaApiKey" target="_blank"> YTMP3 </a>
  
  <a class="link" href="api/downloader/ytmp4?link=https://youtu.be/7dJlibeaNYc&apikey=SuaApiKey" target="_blank"> YTMP4 </a>

  <a class="link" href="api/downloader/mediafire?link=https://www.mediafire.com/file/gpeiucmm1xo6ln0/hello_world.mp4/file&apikey=SuaApiKey" target="_blank"> Mediafire </a>

  <a class="link" href="api/downloader/facebook?link=https://www.facebook.com/dantasgg/videos/634104868471215&apikey=SuaApiKey" target="_blank"> Facebook </a>

<a class="link" href="api/downloader/tiktok?link=https://vm.tiktok.com/ZMY7CYbwF&apikey=SuaApiKey" target="_blank"> TikTok </a>

</div>

  <div class="row">
<p class="copyright">Copyright &copy; 2023 <a href="https://bryan-api.diego-bryanbrya.repl.co">Diego Bryan</a></p>
</div>
  
</body>
 
</html>
